<h1>Authentication Demo</h1>
{{#if user}}
<p>Welcome, {{user}}!</p>
<div>
    <a href="/logout">Logout</a>
</div>
{{else}}
<p>Welcome, annonymous user!</p>
<div>
    <a href="/login">Login</a>
</div>
{{/if}}